<phpunit
  colors="true"
  verbose="true"
  bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="PHP Json Web Tokens">
        <directory>tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>src</directory>
    </whitelist>
  </filter>

</phpunit>